<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.ionicsokolov.arcode"
        version="0.1.0">

  <name>NodeLogger</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/nodelogger.js" target="js/nodelogger.js"/>

  <js-module src="www/nodelogger.js" name="nodelogger">
    <clobbers target="NodeLogger" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/*">
      <feature name="NodeLogger">
        <param name="ios-package" value="NodeLogger" />
      </feature>
    </config-file>

    <header-file src="src/ios/NodeLogger.h"/>
    <source-file src="src/ios/NodeLogger.m"/>
    
    <header-file src="src/ios/Constants.h"/>
    <source-file src="src/ios/Constants.m"/> 
 
    <header-file src="src/ios/GPSLogger.h"/>
    <source-file src="src/ios/GPSLogger.m"/>
 
    <header-file src="src/ios/JSONHandler.h"/>
    <source-file src="src/ios/JSONHandler.m"/>
    
    <header-file src="src/ios/LocationController.h"/>
    <source-file src="src/ios/LocationController.m"/>
    
    <header-file src="src/ios/GPSLoggerObj.h"/>
    <source-file src="src/ios/GPSLoggerObj.m"/>
    

  </platform>
  
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="NodeLogger">
        <param name="android-package" value="com.geteventro.plugin.NodeLogger"/>
      </feature>
    </config-file>

    <source-file src="src/android/NodeLogger.java" target-dir="src/com/geteventro/plugin/"/>
    <source-file src="src/android/Constants.java" target-dir="src/com/geteventro/plugin/"/>
    <source-file src="src/android/LocService.java" target-dir="src/com/geteventro/plugin/"/>
    <source-file src="src/android/JSONWriter.java" target-dir="src/com/geteventro/plugin/"/>
    
  </platform>

</plugin>